# Installation
To install JarvisAI, follow these steps:

Clone the repository:git clone https://github.com/your-username/jarvisai.git

# Install dependencies:
cd jarvisai
pip install -r requirements.txt

Run the chatbot:
python chatbot.py


# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
